body {
    text-align: center;
    background: linear-gradient(-270deg, black, #e6f2f4);
}

div, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 10%;
}

#score, #lives {
  font-weight: bold;
}

p {
  color: white;
}
